<div *ngIf="flightInformation">
    <p-dataTable [value]="flightInformation?.flightRecord">
        <p-header>
            <img class="airport-logo"
                 src="./assets/images/airport-logos/{{flightInformation.airportCode}}.jpg"
                 onerror="src='./assets/images/airline-logos/No_Image_Available.png'"/>
            <p> {{clock | async | date:'shortTime'}}</p>
        </p-header>
        <p-column field="operatingCarrier.airlineCode" header="Airline">
            <ng-template let-n="rowData" let-i="rowIndex" pTemplate="body">
                <img class="airline-logo"
                     src="./assets/images/airline-logos/{{flightInformation.flightRecord[i].operatingCarrier.airlineCode}}.png"
                     onerror="src='./assets/images/airline-logos/No_Image_Available.png'"/>
            </ng-template>
        </p-column>
        <p-column field="operatingCarrier.flightNumber" header="Flight Number"></p-column>
        <p-column field="airportCode" header="Destination Airport Code"></p-column>
        <p-column field="scheduled" header="Scheduled Time Departure"></p-column>
        <p-column field="estimated" header="Estimated Time Departure"></p-column>
        <p-column field="gate" header="Gate"></p-column>
        <p-column field="remark" header="Remark"></p-column>
    </p-dataTable>
</div>
